body{
  background-color: #333;
}
.restart{
  height: 60px !important;
  margin-top: 60px;
}
.page-content{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  z-index: 0;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.page-content h1{
  font-weight: 400;
}
.page-content h1, .page-content h3, .page-content h4{
  text-align: left;
}
.page-content h3, .page-content h4{
  color: gray;
}
.page-content p{
  text-align: left;
}
#sidebaricon{
  left: 20px;
  font-size: 3em;
}
#infoicon{
  right: 20px;
  text-align: right;
  font-size: 3.5em;
}
#sidebaricon, #infoicon{
  position: fixed;
  top: 24px;
  bottom: 0;
  color: #ccc;
}
.toggle{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.toggle:hover{
  color: #6dadf9 !important;
}
.sidebar{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -250px;
  right: 0;
  width: 180px;
  padding: 0;
  border-right: 1px solid #157efb;
  z-index: 0;
  color: #ccc;
}
.sidebar ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar li, .sidebar label{
  cursor: pointer;
  padding: 12px 0 0 12px;
}
.sidebar label{
  display: inline-block;
}
.sidebar input[type=checkbox] {
  transform: scale(1.5);
  position: relative;
  top: 1px;
  left: 12px;
}
.sidebar label, .sidebar .deck-picker{
  font-size: 28px;
}
.sidebar ul.info{
  font-size: 16px;
}
.sidebar h3{
  margin: 24px 0 0 12px;
}
.sidebar ul.info li{
  padding-top: 12px;
}

li.selected{
  color: #6dadf9;
}
#sidebartoggler, #infotoggler{
  display: none;
}
#sidebartoggler:checked + .page-wrapper .sidebar{
  left: 0px;
}
#sidebartoggler:checked + .page-wrapper #sidebaricon{
  left: 208px;
}
#sidebartoggler:checked + .page-wrapper .page-content{
  padding-left: 208px;
}

#sidebartoggler:checked + .page-wrapper #infoicon{
  right: -184px;
}
#info-wrapper{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  position: fixed;
  top: -3000px;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 0;

  z-index: 2;
  color: #F2F4F4;
    background: rgba( 102, 102, 102, 0.9);

  width: 100%;
  height: 100%;
}

#infotoggler:checked + #info-wrapper{
  top: 0px;
}

#info ul{
  list-style: none;
  font-size: 24px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba( 51, 51, 51, 1);
  padding: 48px 48px 12px 48px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin: 0;
  font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
}
#info li{
  padding: 12px;
  white-space: nowrap;
}
#info li:last-child{
  text-align: center;
  margin-top: 12px;
}
.card-container{ 
  height: 280px;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}
#card{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  text-align: center;
}
.counter{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25em;
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  width: 100%;
}
.front, .back{
  background-image: url("../images/paper.jpg");
}
.front-text, .back-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  width: 100%;
  color: #0B0B61;
}
#card figure{
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#card .back{
  transform: rotateY( 180deg );
}
#card.flipped{
  transform: rotateY( 180deg );
}
.controls{
  height: 90px;
  margin-top: 30px;
}
input[type=button]{
  height: 100%;
  font-size: 3em !important;
  color: #515151;
  width: 48%;
  margin-right: 4%;
  cursor: pointer;
  border: 2px solid #333;
  padding: 0;

}
input[type=button]:last-child{
  margin-right: 0;
}
input[type=button]:focus{
  outline: none;
  border: 2px solid #157efb;
}

.remove{
  background: #dcdcdc url('../images/thumb-up.png') no-repeat;
  background-position: center center;
}
.skip{
  background: #dcdcdc url('../images/thumb-down.png') no-repeat;
  background-position: center center;
}
